html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.square {
    width: 60px;
    height: 60px;
    background: black;
}
.hover {
    background: red;
}
.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    max-width: 960px;
}